*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Poppins, sans-serif;
}

body{
background:#f8f3ea;
overflow-x:hidden;
}

/* NAV */
nav{
position:fixed;
top:0;
width:100%;
display:flex;
justify-content:center;
gap:35px;
padding:18px;
background:rgba(255,255,255,0.85);
backdrop-filter:blur(10px);
z-index:1000;
}

nav a{
text-decoration:none;
color:#3b2f2f;
font-weight:600;
}

/* HERO */
.hero{
height:100vh;
background:url("banner.jpg") center/cover no-repeat;
display:flex;
flex-direction:column;
justify-content:center;
align-items:center;
text-align:center;
color:white;
}

.hero h1{
font-size:70px;
font-weight:900;
}

.hero p{
font-size:20px;
}

/* ABOUT */
.about{
padding:100px;
display:flex;
gap:50px;
align-items:center;
background:white;
}

.about img{
width:300px;
border-radius:20px;
}

.about h2{
font-size:40px;
margin-bottom:20px;
}

.about p{
line-height:1.8;
font-size:17px;
}

/* SECTIONS */
.section{
padding:120px 80px;
}

.beige{background:#f3e9dc;}

/* EDUCATION */
.edu-card{
background:white;
padding:20px;
margin:20px 0;
border-radius:15px;
}

/* WORK CARDS */
.grid{
display:grid;
grid-template-columns:repeat(auto-fit,minmax(280px,1fr));
gap:20px;
}

.card{
background:white;
padding:20px;
border-radius:15px;
}

/* CV BUTTON */
.btn{
display:inline-block;
padding:12px 20px;
background:#3b2f2f;
color:white;
border-radius:10px;
text-decoration:none;
}
/* HOME ABOUT SECTION */
.home-about{
display:flex;
justify-content:space-between;
align-items:center;
padding:100px 10%;
gap:60px;
background:#ffffff;
animation: fadeUp 1s ease;
}

/* TEXT LEFT */
.home-text{
flex:1;
max-width:600px;
}

.home-text h2{
font-size:40px;
color:#3b2f2f;
margin-bottom:20px;
}

.home-text p{
font-size:16px;
line-height:1.8;
color:#4a3f3a;
margin-bottom:15px;
}

/* IMAGE RIGHT */
.home-image{
flex:1;
display:flex;
justify-content:center;
}

.home-image img{
width:320px;
border-radius:20px;
box-shadow:0 15px 40px rgba(0,0,0,0.15);
transition:0.4s;
}

.home-image img:hover{
transform:scale(1.05);
}
